<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::main})}">
<head>
<title>Giới thiệu</title>
</head>

<body>
	<main class="container mt-2 mb-3">
		<h1>Thông tin về website</h1>
		Bạn bận rộn tới mức không thể chuẩn bị cho mình một bữa ăn hoàn chỉnh?
		Chiếc bụng đang “réo gọi” mà bạn không tiện ra ngoài. Hay lên cơn thèm
		một món gì đó mà bạn lại ngại chuyện nắng mưa. Đừng lo, với thời đại
		công nghệ 4.0, không gì là không thể. Tất tần tật các món ngon sẽ được
		giao tận tay với dịch vụ ship đồ ăn nhanh dịch vụ ship đồ ăn tận nhà
		là tốc độ giao nhanh, đa dạng món ăn. Cùng với đó là có nhiều chương
		trình ưu đãi, giảm giá, miễn phí vận chuyển luôn diễn ra hàng ngày.
		Vừa giúp bạn tiết kiệm thời gian, công sức, vừa dư ra một khoản kha
		khá để đặt món cho lần sau </br> Công nghệ thông tin, mạng xã hộ ngày càng
		phát triển và các hình thức buôn bán online đặc biệt là bán đồ ăn trực
		tuyến cũng từ đó mà mở rộng. Nếu bạn là một người thích ăn uống,
		thưởng thức các món ăn ngon nhưng lại "lười" ra ngoài để đi ăn hay
		ngại nấu nướng mất thời gian. Thì bạn chỉ cần ngồi nhà và order thì tự
		khắc các món mà bạn thích sẽ được bưng tới tận miệng và dâng tới tận
		răng. Chính vì thế hôm nay Toplist sẽ đưa bạn dạo quanh những Website
		bán đồ ăn online ngon, đảm bảo và uy tín nhất hiện nay. Trong quá
		trình giao hàng sản phẩm của web được để trong hộp giấy giúp món ăn
		được bảo quản một cách tốt nhất tránh được tác động từ bên ngoài.
		Ngoài ra nếu các bạn thích được tới quán ăn trực tiếp thì có thể đặt
		bàn với web - điểm sáng mới của web so với các trang bán đồ ăn online
		khác. Một điểm nữa khiến ShopeeFood được khách hàng yêu thích là do
		web có một giao diện đẹp mắt, dễ sử dụng cùng với ứng dụng có thể tải
		trên Ios - Android giúp cho các thao tác thuận tiện từ cách đặt hàng
		tới thanh toán đều tạo cho khách hàng cảm giác thoải mái và dễ dàng
		và. Cùng với đó, web còn có rất nhiều các chương trình ưu đãi và
		khuyến mại lớn để tri ân khách hàng.</br> Các đặt đồ ăn trên web đơn giản
		thông qua 4 bước:</br> 1:Chọn địa điểm cần đặt món</br> 2:Chọn món</br> 3:Nhập thông
		tin và chọn giờ giao hàng</br> 4:Kiểm tra đơn hàng, phí ship và nhập mã
		khuyến mãi - chọn hoàn tất và chờ xác nhận.</br>


	</main>
</body>
</html>