<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::main})}">
<head>
<title>Chính sách</title>
</head>

<body>
	<main class="container mb-3">

		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header bg-primary" id="headingOne">
					<button class="accordion-button" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseOne"
						aria-expanded="true" aria-controls="collapseOne">
						<h4>ĐÁP ỨNG ĐẦY ĐỦ TÍNH NĂNG THEO NHU CẦU?</h4>
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show"
					aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						-Tuỳ theo nhu cầu của doanh nghiệp muốn xây dựng website bán hàng
						hay giới thiệu, Bizfly đều đáp ứng được đầy đủ như thanh menu,
						thanh toán online, bình luận, đánh giá,... và các nhu cầu riêng
						biệt khác</br>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header bg-primary" id="headingTwo">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseTwo"
						aria-expanded="false" aria-controls="collapseTwo">
						<h4>MÃ NGUỒN THIẾT KẾ RIÊNG CHO DOANH NGHIỆP</h4>
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse"
					aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
					<div class="accordion-body">-Website được code tay từ đầu đến
						cuối, đáp ứng yêu cầu thiết kế và kỹ thuật của riêng của từng lĩnh
						vực, khả năng tùy biến và bảo mật cao. Doanh nghiệp hoàn toàn chủ
						động nâng cấp tính năng bất cứ khi nào.</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header bg-primary" id="headingThree">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseThree"
						aria-expanded="false" aria-controls="collapseThree">
						<h4>TÍCH HỢP BỘ GIẢI PHÁP MARKETING & BÁN HÀNG AUTOMATION?</h4>
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse"
					aria-labelledby="headingThree" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<p>
							+ Chatbot tư vấn chốt đơn tự động 24/7</br> + Gửi Email Marketing
							Automation nuôi dưỡng khách hàng tiềm năng</br> + CRM thu data, phân
							loại và sàng lọc data theo mức độ quan tâm nóng/ấm/lạnh</br>
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header bg-primary" id="heading4">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapse4"
						aria-expanded="false" aria-controls="collapse4">
						<h4>KẾT HỢP VỚI CÔNG NGHỆ THÔNG MINH?</h4>
					</button>
				</h2>
				<div id="collapse4" class="accordion-collapse collapse"
					aria-labelledby="heading4" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<p>-Tất cả yêu cầu riêng biệt về website của doanh nghiệp đều
							được đáp ứng ngay như thiết kế trang web đa ngôn ngữ, kết hợp với
							hình ảnh 360° trực quan về sản phẩm, bản đồ vị trí...</p>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header bg-primary" id="heading5">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapse5"
						aria-expanded="false" aria-controls="collapse5">
						<h4>BẢO MẬT DATA TUYỆT ĐỐI?</h4>
					</button>
				</h2>
				<div id="collapse5" class="accordion-collapse collapse"
					aria-labelledby="heading5" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<p>-Công nghệ điện toán đám mây và hệ thống cảnh báo đăng nhập
							sớm đảm bảo data của doanh nghiệp luôn được bảo mật tối đa.</p>
					</div>
				</div>
			</div>
		</div>


	</main>
</body>
</html>