

<div class="card text-center">
    <div class="card-header bg-white fw-bold">
        DANH SÁCH ĐƠN HÀNG TRONG HỆ THỐNG
    </div>
    <div class="card-body bg-white">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Mã đơn</th>
                    <th>Tên khách hàng</th>
                    <th>Tên người dùng</th>
                    <th>Ngày đặt</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in pager.orders">
                    <td>{{order.id}}</td>
                    <td>{{order.fullname}}</td>
                    <td>{{order.nguoiDung.ten}}</td>
                    <td>{{order.ngayTao | date : 'dd-MM-yyyy'}}</td>
                    <td>{{order.trangThai?'Hoàn thành':'Đang chờ'}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button ng-click="edit(order)" type="button" class="btn btn-warning">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center bg-white">
        <button ng-click="pager.f()" class="btn btn-danger">
            <b><i class="bi bi-caret-left-square"></i></b>
        </button>
        <button ng-click="pager.p()" class="btn btn-primary">
            <b><i class="bi bi-caret-left"></i></b>
        </button>
        <button class="btn btn-success">
            <b>{{pager.page + 1}} / {{pager.count}}</b>
        </button>
        <button ng-click="pager.n()" class="btn btn-danger">
            <b><i class="bi bi-caret-right"></i></b>
        </button>
        <button ng-click="pager.l()" class="btn btn-primary">
            <b><i class="bi bi-caret-right-square"></i></b>
        </button>
    </div>
</div>