.icon_heart {
    max-width: 24px;
    color: gray;
}
.icon_share {
    max-width: 24px;
    color: gray;
}
.icon_addcart {
    max-width: 24px;
    color: gray;
}

.icon_heart:hover {
    max-width: 24px;
    color: red;
}
.icon_share:hover {
    max-width: 24px;
    color: green;
}
.icon_addcart:hover {
    max-width: 24px;
    color: blue;
}