<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action=""  th:fragment="order">
		<table class="table table-light table-bordered" >
			<tr class="table-secondary text-center">
				<th>Mã hóa đơn</th>
				<td></td>
			</tr>
			<tr>
				<td class="text-start">HD001</td>
				<td class="text-center">
				  <div class="btn-group" role="group" aria-label="Basic example">
					  <a th:href="@{/home/bill/detail}" type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
					  <button type="button" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-start">HD001</td>
				<td class="text-center">
				  <div class="btn-group" role="group" aria-label="Basic example">
					  <a th:href="@{/home/bill/detail}" type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
					  <button type="button" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-start">HD001</td>
				<td class="text-center">
				  <div class="btn-group" role="group" aria-label="Basic example">
					  <a th:href="@{/home/bill/detail}" type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
					  <button type="button" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-start">HD001</td>
				<td class="text-center">
				  <div class="btn-group" role="group" aria-label="Basic example">
					  <a th:href="@{/home/bill/detail}" type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
					  <button type="button" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
					</div>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>